{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ user.username }} !</h2>
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        {% for post in posts %}
        <div class="card card-signin my-5">
          <div class="card-body">
            <a href="{{ post.user_name.profile.get_absolute_url }}"></a>
            <a class="text-dark" href="{{ post.user_name.profile.get_absolute_url }}"><b>{{ post.user_name }}</b></a>
            <br><small class="text-muted">Posted on {{ post.date_posted }}</small>
            <br><br>
            <p class="card-text text-dark">{{ post.description }}</p>
          </div>
          <img class="card-img-top" src="../{{post.pic.url}}" alt="Picture not found"></a>
          {% if post.tags %}
          <br>
          <p class="text-danger ml-3"><b>Tags: <i>{{ post.tags }}</i></b></p>
          {% endif %}  
        </div>
        <div class="card-footer">
        </div>
        {% endfor %}
       </div>
    </div>
</div>

{% endblock content %}
