{% extends 'base.html' %}

{% block content %}
  <div style="background: url(../static/images/CitySkyline.jpg); min-height: 1000px; background-size: cover; background-position: top; background-repeat: no-repeat; background-attachment: fixed;" class="page-holder bg-cover">
    <div class="container">
      <h2><br/>Welcome, {{ user.username }} !</h2>
      <div class="row">

        <div class="col-md-8">
          {% for post in posts %}
          <div class="card card-signin my-5">
            <div class="card-body">
              <a href="{{ post.user_name.profile.get_absolute_url }}"></a>
              <a class="text-dark" href="{{ post.user_name.profile.get_absolute_url }}"><b>{{ post.user_name }}</b></a>
              <br><small class="text-muted">Posted on {{ post.date_posted }}</small>
              <br><br>
              <p class="card-text text-dark">{{ post.description }}</p>
            </div>
            <a href="{% url 'post-detail' pk=post.pk%}"></a><img class="card-img-top" src="{{post.pic.url}}" alt="Picture not found"></a>
            {% if post.tags %}
            <br>
            <p class="text-danger ml-3"><b>Tags: <i>{{ post.tags }}</i></b></p>
            {% endif %}  
            <div class="card-footer">
              <a class="btn btn-outline-info" href="{% url 'post-detail' pk=post.pk %}">Comments | {{ post.details.count }}</a>
              {% if post.user_name == user %}		
              <a class="btn btn-outline-danger" href="{% url 'post-delete' pk=post.pk %}">Delete</a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
