{% extends 'base.html' %}
{% block content %}
	<div class="container">
	    <div class="row">
	      <div class="col-md-8">
	        <div class="card card-signin my-5">
	          <div class="card-body">
	          	<a href="{{ post.user_name.profile.get_absolute_url }}"><img src="{{ post.user_name.profile.image.url }}" class="rounded-circle" width="30" height="30" alt=""></a>
	          	<a class="text-dark" href="{{ post.user_name.profile.get_absolute_url }}"><b>{{ post.user_name }}</b></a>
	          	<br><small class="text-muted">Posted on {{ post.date_posted }}</small>
	          	<br><br>
	            <p class="card-text text-dark">{{ post.description }}</p>
	          </div>
	          <a href="{{ post.pic.url }}"><img class="card-img-top" src="{{ post.pic.url }}" alt=""></a>
	          {% if post.tags %}
	          <br><p class="text-danger ml-3"><b>Tags: <i>{{ post.tags }}</i></b></p>
	          {% endif %}
	          <div class="card-footer">
                {% if post.user_name == user %}
				<a class="btn btn-outline-danger" href="{% url 'post-delete' post.id %}">Delete</a>
				{% endif %}
	          </div>
	        </div>
	  	   </div>
	    </div>
	    <br>
	</div>
{% endblock content %}